*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: black;
  text-decoration: none;
}
ul li{
  list-style-type: none;
}
body{
  color: var(--secondary);
  font-family: "Poppins", sans-serif;
}
:root{
  --primary: #FF902A;
  --secondary: #2F2105;
  --accents: #F6EBDA;
  --accents2: #F9D9AA;
  --shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.164);
}
.container{
  width: 1160px;
  margin: 0 auto;
}
nav{
  position: absolute;
  top: 36px;
  z-index: 999;
  width: 100%;
}
nav .nav-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-wrapper ul{
  width:25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-wrapper .right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .nav-wrapper .right input{
  padding: 11px;
  border-radius: 35px;
  border: none;
  box-shadow: var(--shadow);
}

#banner{
  padding-top: 158px;
  padding-bottom: 396px;
  background: var(--accents);
  position: relative;
}
#banner{
  padding-top: 158px;
  padding-bottom: 396px;
  background: var(--accents);
  position: relative;
  z-index: 0;
}
#banner .banner-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner .banner-wrapper .img{
  width: 416px;
  height: 416px;
  background: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
}

#banner .banner-wrapper .img p:first-child{
  left: 0;
  top: 0;
  color: white;
}

#banner .banner-product{
  position: absolute;
  width: 100%;
  bottom: -227px;
}
#banner .banner-product .container::after{
  position: absolute;
  content: "";
  bottom: -87px;
  width: 1160px;
  height: 367px;
  background: #F9D9AA;
  border-radius: 64px;
  z-index: -1;
}
#banner .banner-product .bp-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#banner .banner-product .bp-wrapper .card{
  padding: 24px;
  background: white;
  border-radius: 12px;
  box-shadow: var(--shadow);
}