*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: black;
  text-decoration: none;
}
ul li{
  list-style-type: none;
}
body{
  color: var(--secondary);
}
:root{
  --primary: #FF902A;
  --secondary: #2F2105;
  --accents: #F6EBDA;
  --accents2: #F9D9AA;
  --shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.164);
}
.container{
  width: 1160px;
  margin: 0 auto;
}
nav{

}
nav .nav-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-wrapper ul{
  width:25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-wrapper .right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .nav-wrapper .right input{
  padding: 11px;
  border-radius: 35px;
  border: none;
  box-shadow: var(--shadow);
}